/* -------- Обнуление стилей CSS -------- */

*, *::after, *::before {
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
a,
a:visited {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	width: 100%;
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: rgb(37, 43, 66);
	background: rgb(250, 250, 250);
	font-family: "Montserrat";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
button {
	cursor: pointer;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex; /* нашу оболочку представляем как флекс-контейнер с flex-direction: column. Это нужно для того, чтобы наш футер всегда располагался внизу страницы вне зависимости от наполнения страницы контентом */
	flex-direction: column;
}
._container { /* Технический класс (_container) не является БЭМ блоком и предназначен для назначения общих стилей */
	max-width: 1045px;
	margin: 0 auto;
	padding: 0 15px; /* Для "отлипания" логотипа от левого края экрана при уменьшении его ширины (адаптиве) добавил паддинги слева и справа и изменил значение box-sizing с border-box на content-box, что позволило не учитывать паддинги в общей ширине контейнера, т.е. ширина контейнера как была 1045px так и осталась" */
	box-sizing: content-box;
}
._ibg { /* Технический класс, позволяющий делать из картинки, вставленной через <img />, фактически фонове изображение. Делается это для упрощения вывода фонового изображения через бэкенд. Это гораздо проще, чем работать со стилями из админки CMS. */
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* -------- блок header -------- */

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
.header__logo {
	color: rgb(37, 43, 66);
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.1px;
	text-align: left;
}
.header__menu {
	margin-left: 132px;
}
.menu {
	padding: 5px 0; /* Отступ безопасности. Предназначен для случаев, когда заказчик будет менять количество элемнтов вёрстки (в данном случае элементов меню) и чтобы не происходило прилипание элементов к границам контейнера и экрана в целом */
}
.header__list {
	display: flex;
	flex-wrap: wrap;
}
.header__item {
	margin-right: 21px;
}
.header__item:last-child {
	margin-right: 0;
}
.header__link {
	color: rgb(115, 115, 115);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%); /*calc(line-height (значение из макета) / font-size * 100%) лучше писать так, чтобы при смене шрифта межстрочный интервал соответствовал новому значению шрифта */
	letter-spacing: 0.2px;
	text-align: center;
}
@media (max-width:992px) {
	.header__menu {
		margin-left: 80px;
	}
	.header__link {
		font-size: 16px; /* при изменении размера шрифта автоматически поменяется line-height, т.к. он задан в % */
	}
}
@media (max-width:767px) {
	.header__menu {
		margin-left: 40px;
	}
	.header__link {
		font-size: 18px;
	}
	.header__container {
		min-height: 72px;
	}
}
@media (max-width:440px) {
	.header__link {
		font-size: 15px;
	}
}

/* -------- блок HEADER-BLOCK -------- */

.header-block {
	text-align: center;
}
.header-block__title {
	color: rgb(37, 43, 66);
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: 0.2px;
}
.header-block__title >*:not(:last-child) {
	margin: 0 0 10px 0;
}
.header-block__subtitle {
	color: rgb(115, 115, 115);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.2px;
}


/* -------- блок page -------- */

.page {
	flex: 1 1 auto; /* Здесь мы позволяем блоку main увеличиваться и уменьшаться, а так же базовый размер назначается автоматически, что обеспечивает прижатие футера к низу страницы */
}
.page__services {
	position: relative;
	margin: -111px 0px 0px 0px; /* Отрицательный margin потому что нам нужно, чтобы все остальные блоки подтягивались вверх за карточками. В противном случае там будет дыра в 111px.*/
	z-index: 2;
}
.page__advice {
}
.main-block {
	position: relative;
}
.main-block__body {
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
.main-block__body >*:not(:last-child) { /* Очень крутая конструкция!!! А именно. Происходит обращение ко всем объектам .main-block__body первого уровня вложенности, за исключением последнего. Если вдруг заказчик будет менять количество блоков, то наша вёрстка не сломается и будет выглядеть достойно, т.к. к каждому элементу первого уровня вложенности применён отступ. ЭТО КРУТО!!! */
	margin: 0 0 35px 0;
}
.main-block__title {
	color: rgb(37, 43, 66);
	font-family: Montserrat;
	font-size: 58px;
	font-weight: 800;
	line-height: calc(80 / 58 * 100%);
	letter-spacing: 0.2px;
	text-align: left;
}
.main-block__text {
	color: rgb(115, 115, 115);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: calc(30 / 20 * 100%);
	letter-spacing: 0.2px;
	text-align: left;
}
.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
}
.main-block__button {
	border-radius: 37px;
	display: flex;
	align-items: center;
	min-height: 48px;
	justify-content: space-between;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	line-height: calc(28 / 14 * 100%);
	letter-spacing: 0.2px;
	text-align: center;
	padding: 10px 36px;
	margin-right: 10px;
	text-align: center;
}
.main-block__button_orange {
	background: rgb(255, 123, 71);
	color: rgb(255, 255, 255);
}
.main-block__button_border {
	border: 1px solid rgb(13, 92, 99);
	color: rgb(13, 92, 99);
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

@media (max-width: 1400px) {
	.main-block__image img{
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.7;
	}
	.header__link {
		color: rgb(37, 43, 66);
	}
	.main-block__text {
		color: rgb(37, 43, 66);
	}
	.main-block__body {
		padding: 120px 0 191px 0;
	}
}
@media (max-width: 440px) {
	.main-block__body {
		padding: 100px 0 191px 0;
	}
	.main-block__title {
		font-size: 42px;
	}
}
@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
		justify-content: center;
	}
	.main-block__button_orange {
		margin-bottom: 10px;
	}
}

/* -------- блок services -------- */

.services__body {
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
}
.services__column {
	padding: 0 15px;
	flex: 0 1 33.333%; /* Назначаем ширину колонки 1/3 от всей ширины контейнера, флекс-контейнер я раздвинул по 15 пикселей влево и вправо, а саму колонку сдвинул по 15 пикселей с обоих сторон => получаем необходимый отступ между колонками в 30 пикселей (30/2=15). */
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
	background: rgb(255, 255, 255);
	padding: 35px 40px;
}
.services__item >*:not(:last-child) {
	margin: 0 0 10px 0;
}
.item-service_green {
	box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
	background: rgb(13, 92, 99);
}
.item-service_green > .item-service__title {
	color: rgb(255, 255, 255);
}
.item-service_green > .item-service__text {
	color: rgb(255, 255, 255);
}

.item-service__title {
	color: rgb(37, 43, 66);
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: calc(32 / 24 * 100%);
	letter-spacing: 0.1px;
	text-align: left;
}
.item-service__text {
	color: rgb(115, 115, 115);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
	text-align: left;
}

@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
		margin-bottom: 30px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
		margin-bottom: 0px;
	}
}

@media (max-width: 700px) {
	.services__column {
		flex: 0 1 100%;
	}
}

@media (max-width: 450px) {
	.services__column {
		margin-bottom: 20px;
	}
	.services__column:last-child {
		margin-bottom: 0px;
	}
}

/* -------- блок experience -------- */


.experience {
	padding: 80px 0px 80px 0px;
}
.experience__header {
	margin-bottom: 50px;
}
.experience__body {
	display: flex;
	margin: 0px -15px -30px 0px;
	flex-wrap: wrap;
}
.experience__column {
	flex: 0 1 25%;
	padding: 0 15px;
	margin: 0px 0px 30px 0px;
}
.experience__item {
	text-align: center;
	padding: 30px 33px;
	background: rgb(255, 255, 255);
}
.item-experience__icon {
	display: flex;
	height: 48px;
	align-items: center;
	justify-content: center;
}
.item-experience__value {
	color: rgb(37, 43, 66);
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 57px;
	letter-spacing: 0.2px;
}
.item-experience__text {
	color: rgb(115, 115, 115);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
}
.experience__item > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

@media (max-width: 1090px) {
	.experience__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 992px) {
	.experience {
		padding: 50px 0px 50px 0px;
	}
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 560px) {
	.experience__column {
		flex: 0 1 100%;
	}
	.header-block__title {
		font-size: 30px;
	}
	.experience__header {
		margin-bottom: 30px;
	}
}

/* -------- блок advice -------- */


.advice {
	padding: 125px 0px 80px 0px;
}
.advice__container {
}
.advice__header {
	margin-bottom: 45px;
}

.advice__body {
	margin: 0 -21px -30px 0px;
	display: flex;
	flex-wrap: wrap;
}
.advice__column {
	padding: 0 21px 30px 0px;
	flex: 0 1 25%;
}
.advice__item {
	
}
.item-advice {
	background: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	height: 100%;
}
.item-advice__container {
	padding: 30px;
	flex: 1 1 auto;
}
.item-advice__title {
	color: rgb(37, 43, 66);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: calc(24 / 16 * 100%);
	letter-spacing: 0.1px;
	text-align: left;
}
.item-advice__text {
	color: rgb(115, 115, 115);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.2px;
	text-align: left;
}
.item-advice__container > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-advice__image {
	padding: 0px 0px calc(138 / 230 * 100%) 0px; /* Картинки пока не видно, т.к.на неё действует _ibg. Чтобы показать её делаем следующее: берем размеры картинки из макета (230px ширина и 138px высота) и переводим в %, т.е. 138 / 230 * 100% = 60%.  */
}
@media (max-width: 1060px) {
	.advice {
		padding: 60px 0px 30px 0px;
	}
	.advice__column {
		flex: 0 1 50%;
	}
	.item-advice__title {
		font-size: 24px;
	}
	.item-advice__text {
		font-size: 18px;
	}
}
@media (max-width: 800px) {
	.item-advice__title {
		font-size: 16px;
	}
	.item-advice__text {
		font-size: 14px;
	}
}
@media (max-width: 600px) {
	.advice {
		padding: 40px 0px 20px 0px;
	}
	.advice__column {
		flex: 0 1 100%;
	}
	.item-advice__title {
		font-size: 18px;
	}
	.item-advice__text {
		font-size: 14px;
	}
}
@media (max-width: 400px) {
	.item-advice__title {
		font-size: 16px;
	}
	.item-advice__text {
		font-size: 14px;
	}
}



/* -------- блок footer -------- */
